## Python statistics essential training - 03_05_categorical

Standard imports

In [1]:
import numpy as np
import scipy.stats
import pandas as pd

In [2]:
import matplotlib
import matplotlib.pyplot as pp

import pandas.plotting

from IPython import display
from ipywidgets import interact, widgets

%matplotlib inline

In [3]:
import re
import mailbox
import csv

In [4]:
smoking = pd.read_csv("./whickham.csv")

In [5]:
smoking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1314 entries, 0 to 1313
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   outcome  1314 non-null   object
 1   smoker   1314 non-null   object
 2   age      1314 non-null   int64
dtypes: int64(1), object(2)
memory usage: 30.9+ KB

In [6]:
smoking.head()

  outcome smoker  age
0   Alive    Yes   23
1   Alive    Yes   18
2    Dead    Yes   71
3   Alive     No   67
4   Alive     No   64

In [7]:
pd.DataFrame(smoking.smoker.value_counts())

        count
smoker
No        732
Yes       582

In [8]:
pd.DataFrame(smoking.outcome.value_counts())

         count
outcome
Alive      945
Dead       369

In [9]:
pd.DataFrame(smoking.outcome.value_counts(normalize=True))

         proportion
outcome
Alive      0.719178
Dead       0.280822

In [10]:
bysmoker = smoking.groupby("smoker").outcome.value_counts(normalize=True)

In [12]:
bysmoker.index

MultiIndex([( 'No', 'Alive'),
            ( 'No',  'Dead'),
            ('Yes', 'Alive'),
            ('Yes',  'Dead')],
           names=['smoker', 'outcome'])